
<!-- <app-nav-option></app-nav-option>
<app-section-tab-code></app-section-tab-code>
<app-section-code></app-section-code>
<app-section-run-code></app-section-run-code> -->

<!-- <div class="">
  <div class="">
    <ngx-codemirror
      [(ngModel)]="defaults[mode]"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'markdown'
      }"
    ></ngx-codemirror>
  </div> -->

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="ngx-codemirror mb-2">
      <ngx-codemirror #codemirror
  [options]="codeMirrorOptions"
  [(ngModel)]="obj"
  (ngModelChange)="setEditorContent($event)">
</ngx-codemirror>
    </div>
    

  
<script src="../js/carousel.js"></script>





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->

