#boton-nav {
    /* margin: 1rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#myCarousel {
    /* margin: 1rem; */
    /* padding: 1rem; */
}

#text-code {
    height: 500px; 
    width: 100%; 
    left:0%; 
    position:relative;
}

#myCarousel {
    width: 70%; 
    left:5%; 
    position:relative;
}

#barra-code {
    width: 60%; 
    left:20%; 
    position:relative;
}

#boton-nav {
    width: 60%; 
    left:20%; 
    position:relative;
}

#bar-code {
    width: 33.3%;
    background: red;
}

#bar-code2 {
    width: 33.3%;
    background: dodgerblue;
}

#bar-code3 {
    width: 33.4%;
    background: dodgerblue;
}

#button-compile {
    background: #1100FF;
}

#button-run {
    background: #00B242;
}

.option-code {
    width: 60%; 
    /* left:20%;  */
    margin: 1rem;
    /* padding: 1rem; */
    text-align: center;
    position:relative;
}

.code-m {
    display: flex;
    /* position: relative; */
    /* text-align: right; */
    
}

.tree-dir {
    position: relative;
    /* background-color: red; */
    width: 20%;
    height: 600px;
    /* text-align: left; */
    float: left;
    
    /* border-top-color: #CC0000;
    border-right-color: blue;
    border-bottom-color: #00FF00;
    border-left-color: #CCC;
    border-top-width: 10px; */
    /* border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin; */
}

.myborder {
    border: 1px solid ;
    border-color: #343D47;
}