<!-- <p>section-code works!</p> -->
<!-- Div donde va llevar el codigo -->
<div>
    <div id="myCarousel" class="carousel slide" >
        <div class="carousel-inner" >
          <div class="carousel-item active" data-slide-to="0">
            <textarea id="text-code">1111</textarea>
          </div>
          <div class="carousel-item" data-slide-to="1">
            <textarea id="text-code">222</textarea>
          </div>
          <div class="carousel-item" data-slide-to="2">
            <textarea id="text-code">333</textarea>
          </div>
        </div>
      </div>
      <div  id="barra-code" class="progress center-block">
        <div id="bar-code" class="progress-bar" role="progressbar" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="bar-code2" class="progress-bar" role="progressbar" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="bar-code3" class="progress-bar" role="progressbar" aria-valuenow="33.4" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<script src="../../js/carousel.js"></script>