<!-- Div donde va llevar los botones compilar, ejecutar, y eso -->
<div>
    <div id="boton-nav" class="btn-group" role="group" aria-label="Basic example">
        <button id="myBtn" type="button" class="btn btn-secondary progress-bar" style="width: 33.3%; background-color:red">Codigo Fuente</button>
        <button id="myBtn2" type="button" class="btn btn-secondary progress-bar" style="width: 33.3%; background-color:dodgerblue">Condigo 3 Direcciones</button>
        <button id="myBtn3" type="button" class="btn btn-secondary progress-bar" style="width: 33.4%; background-color: dodgerblue">Ensamblador</button>
    </div>
</div>
